.user {
	display: grid;
	grid-template-columns: 3fr 9fr;
	grid-gap: 5px;
	grid-template-areas: "avatar name"
		"following about";
	border-radius: 5px;
	border: 1px solid lightgrey;
	padding: 10px 10px;
	max-width: 400px;
	margin-bottom: 10px;
}

.userAvatar {
	grid-area: avatar;

	img {
		display: block;
		max-width: 60px;
		border-radius: 50%;
	}
}

.userName {
	grid-area: name;
}

.userAbout {
	grid-area: about;
}

.userFollowing {
	grid-area: following;
}