.appAside {
	background-color: burlywood;
	padding: 20px;
	border-radius: 5px;
	color: white;
}

.navList {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		a {
			display: inline-flex;
			color: inherit;
			text-decoration: none;
			padding: 3px 0;
			font-size: 1.1em;

			&:hover {
				color: gold;
			}

			&.active {
				color: gold;
			}
		}
	}
}