.app {
	display: grid;
	grid-template-columns: 2fr 10fr;
	grid-template-rows: auto 1fr auto;
	grid-gap: 5px;
	grid-template-areas: "header header"
		"aside main"
		"footer footer";
	min-height: 100vh;
	max-width: 1200px;
	margin: 0 auto;
}