.users {
	padding: 0 20px;
	box-sizing: border-box;
	position: relative;

	&>img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}
}

.paginationWrapper {
	width: 100%;
}

.pagination {
	box-sizing: border-box;
	display: flex;
	margin-bottom: 20px;
	padding-bottom: 20px;
	overflow-x: auto;
	max-width: 900px;

	span {
		display: inline-flex;
		border: 1px solid lightgrey;
		border-radius: 5px;
		padding: 10px 12px;
		margin-right: 10px;
		cursor: pointer;
	}
}

.usersItems {}

.activePage {
	color: red;
}